@import "../variables";
@import "../bootstrap";

.users-list {
  .table {
    .thead {
      font-weight: bold;
      border-bottom: 1px solid $secondary;

      .td {

      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    .tbody {
      .td {
        //text-align: center;
      }
    }

    .tr {
      display: flex;
      justify-content: stretch;
      align-items: center;
      margin: 0 -0.5rem;

      &.no-td-resize {
        .td {
          flex-grow: 0;
          flex-shrink: 0;
          word-break: break-all;
        }
      }

      @include media-breakpoint-down(sm) {
        //flex-direction: column;
        flex-wrap: wrap;

        &,
        &.no-td-resize {
          padding: 0.5rem 0;

          &:not(:last-child) {
            border-bottom: 1px solid $secondary;
            margin-bottom: 0.5rem;
          }

          .td {
            padding-top: 0;
            padding-bottom: 0;
            flex-basis: calc(100% - 50px);
            text-overflow: ellipsis;
            overflow: hidden;

            &.avatar {
              flex-basis: 100px;
            }

            &.name {
              flex-basis: calc(100% - 100px);
            }

            &.action {
              flex-basis: 50px;
              overflow: initial;
            }

            &.id {
              display: none;
            }

            a {
              white-space: nowrap;
            }
          }
        }
      }

      @include media-breakpoint-down(xs) {
        &,
        &.no-td-resize {
          .td {
            flex-basis: 100%;
          }
        }
      }
    }

    .td {
      padding: 0.5rem;

      &.id {
        flex-basis: 55px;
      }

      &.action {
        flex-basis: 50px;
        display: flex;
        justify-content: space-between;
      }

      &.avatar {
        flex-basis: 100px;

        img {
          display: block;
          max-width: 100%;
          border-radius: 50%;
          width: 5.25rem;
          height: 5.25rem;
        }
      }

      &.name,
      &.phone {
        flex-basis: calc(((100% - 100px - 50px - 55px) / 16) * 3);
      }

      &.email,
      &.website {
        flex-basis: calc(((100% - 100px - 50px - 55px) / 16) * 5);
      }
    }
  }

  .pagination {
    text-align: center;

    > div + div {
      margin-top: 0.5rem;
    }

    &-arrow {
      color: $gray-600;

      &:hover,
      &:active {
        color: $gray-700;
      }

      &.inactive {
        pointer-events: none;
        color: $gray-300;
      }
    }

    &-select {
      margin: 0 0.5rem;
    }
  }
}