@import "../variables";
@import "../bootstrap";

.user-info {
  &-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-img {
      img {
        border-radius: 50%;
        margin-bottom: 0.25rem;
      }
    }

    &-name {
      font-size: 1.25rem;
      font-weight: bold;

      i {
        margin-right: 0.25rem;
      }
    }

    &-status {
      i {
        margin-right: 0.25rem;
      }

      .fa-ban,
      .fa-ban + span {
        color: $red;
      }

      .fa-check,
      .fa-check + span {
        color: $green;
      }
    }

    &-actions {
      text-align: center;
      font-size: 0.875rem;
      margin-top: 0.5rem;
    }
  }
}