@import "../variables";
@import "../bootstrap";

.user-form {
  .form-group {
    &.type_checkbox,
    &.type_radio {
      &.is-invalid {
        .invalid-feedback {
          display: block;
        }
      }
    }
  }
}