@mixin importFont($family, $weight, $style, $file) {
  @font-face {
    font-family: $family;
    src: url('/fonts/#{$file}.eot');
    src: url('../fonts/#{$file}.eot?#iefix') format('embedded-opentype'),
    url('../fonts/#{$file}.woff') format('woff'),
    url('../fonts/#{$file}.ttf') format('truetype'),
    url('../fonts/#{$file}.svg##{$family}') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}
//100	Thin (Hairline)
//200	Extra Light (Ultra Light)
//300	Light
//400	Normal
//500	Medium
//600	Semi Bold (Demi Bold)
//700	Bold
//800	Extra Bold (Ultra Bold)
//900	Black (Heavy)
@include importFont(GothamPro, 300, normal, GothamPro-Light);
@include importFont(GothamPro, 300, italic, GothamPro-Lighttalic);
@include importFont(GothamPro, 400, normal, GothamPro);
@include importFont(GothamPro, 400, italic, GothamPro-Italic);
@include importFont(GothamPro, 500, normal, GothamPro-Medium);
@include importFont(GothamPro, 500, italic, GothamPro-Mediumttalic);
@include importFont(GothamPro, 700, normal, GothamPro-Bold);
@include importFont(GothamPro, 700, italic, GothamPro-BoldItalic);
@include importFont(GothamPro, 900, normal, GothamPro-Black);
@include importFont(GothamPro, 900, italic, GothamPro-BlackItalic);
