@import "variables";
@import "bootstrap";
@import "../../node_modules/font-awesome/css/font-awesome.css";
@import "fonts";

body {
  //background: royalblue;
}

.header-wrapper {

}

.main-wrapper {
  padding: 1rem 0;
  min-height: calc(100vh - 52px - 74px);
}

.footer {
  display: flex;
  align-items: center;

  &-wrapper {

  }

  &-info {
    font-size: 0.75rem;
  }
}

img {
  max-width: 100%;
}

@import "parts/users-list";
@import "parts/user-info";
@import "parts/user-form";
